.author{
    font-style: italic;
    color:red;
    background-color:yellow;
}

.author2{
    color:white;
    background-color: black;
}

.important{
    color:white;
    background-color: black;
}

.cat-climate{
    color:yellow;
}